<div ng-include="'./views/sidebar.html'"></div>
<md-toolbar>
    <md-button class="md-icon-button md-primary" aria-label="menu" ng-click="main.openPanel()">
        <md-icon md-svg-icon="navigation:menu"></md-icon>
    </md-button>
    <md-button class="md-raised md-button md-ink-ripple" type="button" value="add new" ng-click="main.addNewFile()">Add</md-button>
</md-toolbar>
<div layout="row" class="layout-container full-height">
    <section flex class="container full-height">
        <ul>
            <li ng-repeat="file in main.files track by $index">
                <button type="button" ng-click="main.changeFile($index)">{{ file.id }}</li>
        </ul>
    </section>
    <section flex class="container full-height">
        <ui-codemirror ui-codemirror-opts="main.editorOptions" ng-model="main.mine.content" ui-refresh="true"></ui-codemirror>
    </section>
    <section flex class="container full-height">
        <!-- <ui-codemirror ui-codemirror-opts="main.editorOptions" ng-model="main.theirs" ui-refresh="true"></ui-codemirror> -->
        <panels-preview></panels-preview>
    </section>
</div>
