<div ng-include="'./views/sidebar.html'"></div>
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="menu" ng-click="main.openPanel()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <md-input-container md-no-float class="md-block md-primary" style="width:100%;">
            <input pu-elastic-input ng-model="main.mine.title" placeholder="Untitled {{ main.mine.type }}"
            pu-elastic-input-minwidth="200px"></input>
        </md-input-container>
    </div>

</md-toolbar>
<div layout="row" class="layout-container full-height" ng-cloak>
    <section flex class="container full-height">
        <md-button class="md-primary" aria-label="download" ng-click="main.downloadFile()">Download</md-button>        
	<ui-codemirror ui-codemirror-opts="main.editorOptions" ng-model="main.mine.content" ui-refresh="true"></ui-codemirror>
    </section>
    <section ng-show="main.previewSize" flex class="container" style="background-color:white;word-wrap:break-word;">
        <panels-preview script-type="{{ main.mine.type }}"></panels-preview>
    </section>
    <section ng-show="main.theirs" flex class="container" style="background-color:white;word-wrap:break-word;">
        <diff-view></diff-view>
    </section>

    <div layout="column" layout-align="start center">
        <md-button class="md-fab md-primary" aria-label="visibility" ng-click="main.togglePreview()">
            <md-tooltip md-direction="left">Preview Script</md-tooltip>
            <md-icon md-svg-icon="action:visibility"></md-icon>
        </md-button>

        <md-button ng-if="main.mine.synced" class="md-fab md-primary md-avatar-button" aria-label="visibility" ng-repeat="file in main.related" ng-click="main.toggleDiffRelated(file.id)">
            <md-tooltip md-direction="left">{{ main.collaborators[file.author].displayName }}'s copy "{{ file.title }}"</md-tooltip>
            <img ng-if="main.collaborators[file.author].photoURL" ng-src="{{ main.collaborators[file.author].photoURL }}" class="md-avatar" alt="{{ main.collaborators[file.author].username }}">
            <span ng-if="!main.collaborators[file.author].photoURL">{{ main.collaborators[file.author].displayName[0] | uppercase }}</span>
        </md-button>

        <md-button class="md-fab" aria-label="visibility" ng-click="main.togglePreview()" ng-if="main.userRecords && main.mine.synced">
            <md-tooltip md-direction="left">Add Collaborator</md-tooltip>
            <md-icon md-svg-icon="social:person_add"></md-icon>
        </md-button>
        <md-input-container ng-if="main.userRecords && main.mine.synced">
            <label>User</label>
            <md-select ng-change="main.addCollaborator()" ng-model="main.collaborators">
                <md-option ng-repeat="user in main.userRecords track by $index" value="{{user.id}}" ng-disabled="user.id === main.userRecord.id || (main.mine.collaborators && main.mine.collaborators.indexOf(user.id) !== -1)">
                {{user.username}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
</div>
<footer>this is a test</footer>
