<div ng-include="'./views/sidebar.html'"></div>
<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="menu" ng-click="main.openPanel()">
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        <md-input-container md-no-float class="md-block md-primary" style="width:100%;">
            <input pu-elastic-input ng-model="main.mine.title" placeholder="Untitled {{ main.mine.type }}" pu-elastic-input-minwidth="171px"></input>
        </md-input-container>
    </div>

</md-toolbar>
<div layout="row" class="layout-container full-height">
    <section flex class="container full-height">
        <ui-codemirror ui-codemirror-opts="main.editorOptions" ng-model="main.mine.content" ui-refresh="true"></ui-codemirror>
    </section>
    <section flex class="container full-height">
        <!-- <ui-codemirror ui-codemirror-opts="main.editorOptions" ng-model="main.theirs" ui-refresh="true"></ui-codemirror> -->
        <panels-preview script-type="{{ main.mine.type }}"></panels-preview>
    </section>
</div>
